# Development 
DEV=development # development | production

# Public
PUBLIC_DEALER_NAME=
PUBLIC_WHATSAPP_NUMBER=
PUBLIC_WHATSAPP_DEFAULT_MESSAGE=
PUBLIC_INSTAGRAM_URL=
PUBLIC_TIKTOK_URL=

# Sentry
SENTRY_AUTH_TOKEN=