# Development 
# DEV=development
# DEV=production

# Public
PUBLIC_SITE_URL=
PUBLIC_DEALER_NAME=
PUBLIC_WHATSAPP_NUMBER=
PUBLIC_WHATSAPP_DEFAULT_MESSAGE=
PUBLIC_INSTAGRAM_URL=
PUBLIC_TIKTOK_URL=

# Google Analytics
PUBLIC_GA_MEASUREMENT_ID=
PUBLIC_GOOGLE_SITE_VERIFICATION=

# Google Tag Manager
PUBLIC_GTM_ID=

# Sentry
SENTRY_PROJECT=
SENTRY_ORG=
SENTRY_AUTH_TOKEN=
PUBLIC_SENTRY_DSN=