<script>
  const buttonOne = document.getElementById("one");
  const buttonTwo = document.getElementById("two");
  buttonOne.addEventListener("click", throwTestError);
  buttonTwo.addEventListener("click", throwApiError);
  function throwTestError() {
    throw new Error("Sentry Example Frontend Error");
  }
  async function throwApiError() {
    await fetch("/api/test-error");
  }
</script>
<button id="one" type="button">Throw a frontend error</button>
<button id="two" type="button">Throw an API error</button>